$color-principal: #39578f;
$color-secundario: #22345a;
$color-footer: gray;
$color-fondo: #f5f5f5;
$fuente-principal: "Tagesschrift", system-ui, sans-serif;
$color-black: black;
$color-white: white;
$color-gray: gray;
$color-blue: #39578f;
$color-blue-dark: #22345a;