header {
  nav {
    div {
      h1 {
        font-size: 40px;
        margin-left: 20px;
        display: inline-block;
      }
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
    }
  }
}