.navbar {
  background-color: $color-gray;

  .nav-link {
    color: $color-white;
    transition: all 0.3s ease;

    &:hover {
      background-color: $color-white;
      color: $color-black !important;
      border-radius: 5px;
      padding: 5px 10px;
    }
  }
}
.navbar-brand {
  color: $color-white;
  font-family: $fuente-principal;
  font-size: 24px;

  &:hover {
    color: $color-white;
  }
}